.slide-container {
    max-height: max-content;
    max-width: max-content;
    // display: block;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 5px 10px rgba(53, 40, 170, 0.1);

    // img {
    //     height: 85vh;
    //     width: 900px;
    // }
}