.slide-container {
    max-height: max-content;
    max-width: max-content;
    display: block;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;

    // img {
    //     height: 85vh;
    //     width: 900px;
    // }
}