.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  // border-bottom: 1px solid  #2e3092;
  box-shadow: 0 5px 10px rgba(53, 40, 170, 0.1);


  .logo_div {
    height: 100%;
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
      height: 110px;
      width: 110px;
      margin-left: 40px;

    }
  }

  .navBar {
    flex-basis: 60%;
    display: flex;
    height: 100%;
    align-items: center;

    .ul {
      width: 100%;
      height: inherit;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .li {
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
        font-family: "roboto";
        font-family: "Open Sans Condensed";
        color: rgb(5, 83, 109);

        &:hover {
          cursor: pointer;
          color: #616294;
        }
      }
    }
  }
}